<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PlantMapper">

	<select id="search" resultType="com.smhrd.model.PotPlant">
		select * from tb_plant where pl_name like concat(concat('%',#{pl_search}),'%')
	</select>
</mapper>