<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SnsMapper">

	<insert id="write" parameterType="com.smhrd.model.PotSns">
		insert into tb_sns(user_id, sns_title, sns_img, sns_content) values (#{user_id}, #{sns_title}, #{sns_img, jdbcType=VARCHAR}, #{sns_content})
	</insert>
	
	
		<!-- 여러개의 행을 가져올 때: resultType -> 리스트 내의 각 아이템의 타입 -->
	<select id="select" resultType="com.smhrd.model.PotSns">
		select a.sns_idx, a.sns_title, a.user_id, TO_CHAR(a.created_at, 'YYYY-MM-DD') AS created_at, a.sns_likes, a.sns_views, b.user_nick, b.sns_img
		from tb_sns a, tb_user b
		where a.user_id = b.user_id
		order by a.sns_idx desc
	</select>
	
	<select id="getBoard" parameterType="int" resultType="com.smhrd.model.PotSns">
		select b.sns_idx, a.user_id, b.sns_title, b.sns_img, b.sns_content, TO_CHAR(b.created_at, 'YYYY-MM-DD') AS created_at, b.sns_views, b.sns_likes, a.user_nick
		from tb_user a inner join tb_sns b
		on(a.user_id = b.user_id)
		where b.sns_idx=#{sns_idx}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="views">
		update tb_sns set sns_views = sns_views + 1 where sns_idx = #{sns_idx}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="delete">
		delete from tb_sns
		where sns_idx=#{sns_idx}
	</delete>
	

	
</mapper>